<a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&tw_p=tweetbutton" class="p-2" title="Share on Twitter" target="_blank" rel="nofollow">
  <div>
    <span class="fa-stack">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div class="fa-inverse text-center"><small>Tweet</small></div>
</a>

<a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" class="p-2" title="Share on Facebook" target="_blank" rel="nofollow">
  <div>
    <span class="fa-stack">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div class="fa-inverse text-center"><small>Share</small></div>
</a>
<script>
  function shareViaLinkedin() {
    window.open('http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent({{ .Permalink }}), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
  }
</script>
<a href="#linkedinshare" id = "linkedinshare" class="p-2" title="Share on LinkedIn" rel="nofollow" onclick="shareViaLinkedin()">
  <div>
    <span class="fa-stack">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div class="fa-inverse text-center"><small>Share</small></div>
</a>

<a href="javascript:window.print()" title="Print this article" class="p-2" target="_blank" rel="nofollow">
  <div>
    <span class="fa-stack">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fa fa-print fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div class="fa-inverse text-center"><small>Print</small></div>
</a>
