{{ $link := .RelPermalink }}
{{- range .Site.Data.menu }}
<li class="nav-item internal">
  {{ if .submenu }}
  <div class="nav-link nav-hassubmenu">{{ .name }}
    <div class="nav-submenu" >
    {{ range .submenu }}
      <a class="nav-link{{ if eq .link $link }} active{{ end }}" href="{{ lower .link }}">{{ .name }}</a>
    {{ end }}
    </div>
    </div>
  {{ else }}
  <a class="nav-link{{ if eq .link $link }} active{{ end }}" href="{{ lower .link }}">{{ .name }}</a>
  {{ end }}
</li>
{{- end }}
